@import "bootstrap/less/bootstrap.less";
@import "select2/less/core.less";
@import "react-select/less/select.less";
@import "guery-builder/less/guery-builder.less";
@import "bootstrap3-editable/less/bootstrap-editable.less";

.view-select {
  min-width: 150px;
}

.filter-select {
  min-width: 150px;
}

.query-builder .rule-container .rule-value-container .form-control {
  width: 250px;
}

.rule-operator-container select.form-control {
  width: 160px;
}

.query-builder .rule-container .rule-operator-container {
  margin-left: 20px;
}

.query-builder .rule-container .rule-value-container {
  margin-left: 10px;
}

.group-conditions {
  label.active {
    &:extend(.btn-primary);
  }
}

.samples-values.panel {
  background-color: inherit;
}

.samples-panel {
  overflow: scroll;
  overflow-x:hidden;
  height: 400px;
}