
<div class="main" id="main">
    <div class="main-frame">

        <div class="main-width-wrapper">
            <div class="container-fluid" id="maintable">
                {{> header_nav/navbar_main }}
                    <div class="collapse collapse-subnav" id="subnav">
                        {{> create_query/navbar_create_query }}
                    </div>    
                {{> main/samples_table }}
            </div>

            <div id="fav-message" class="hidden">
                You can export these items to file
            </div>
        </div>

    </div>
</div>

