<div class="main" id="main">
    <div class="container-fluid">
        {{> header_nav/navbar_main }}
            <div class="collapse collapse-subnav" id="subnav">
                {{> create_query/navbar_create_query }}
            </div>    
        {{> main/variants_table }}
    </div>

    <div id="fav-message" class="hidden">
        You can export these items to file
    </div>
</div>

