
<div class="samples-table-wrapper">
  <table class="table table-condensed table-hover responsive display" id="table" cellspacing="0" width="100%" >
    <thead>
      <tr>
        <th>Comment</th>
        <th>Function</th>
        <th>Gene</th>
        <th>Chromosome</th>
        <th>EndCoordinate</th>
        <th>CytogeneticBand</th>
        <th>StartCoordinate</th>
        <th>AffectedAminoAcid</th>
        <th>ProteinChange</th>
        <th>GranthamScore</th>
        <th>FunctionalConsequence</th>
        <th>Transcript</th>
        <th>NucleotideChange</th>
      </tr>
    </thead>
  </table>        
</div>
