
<div class="table-variants-wrapper">
  <table class="table table-condensed table-hover table-bordered table-striped table-variants " id="variants_table">
    <thead id="variants_table_head"></thead>
    <tbody id="variants_table_body"></tbody>
  </table>        
</div>
