[submodule "assets/bootstrap-table"]
	path = public/assets/bootstrap-table
	url = git@github.com:wenzhixin/bootstrap-table.git
[submodule "assets/multiple-select"]
	path = public/assets/multiple-select
	url = git@github.com:wenzhixin/multiple-select.git
