deploy.sh
build/
*.name
.idea/encodings.xml
*.iml
.idea/misc.xml
*.xml
*node_modules*

*.swp
*.swo

.DS_Store
*npm-debug.log*
logs/
*genomix.log

.settings/
.project
.pydevproject

uploads/
new_samples/
saved_files/
public/*
