<div data-toggle="tooltip" data-placement="left" title="Buy featured options for genetic analises" data-container="body" data-trigger="hover"><a href="#" class="btn navbar-btn dropdown-toggle" type="button" data-toggle="modal" data-target="#buy">Buy</a></div> 
<div class="guest" data-toggle="tooltip" data-placement="left" title="Register or sigh for access to featured options" data-container="body" data-trigger="hover"><a href="#" class="btn navbar-btn dropdown-toggle" data-toggle="collapse" data-target="#sidebarRight" id="signInBtn"><span class="guest">Login (Register)</span><span class="user hidden">Name Lastname</span></a></div>


