<div data-toggle="tooltip" data-localize="account.buy.help" data-placement="left" title="Buy featured options for genetic analises" data-container="body" data-trigger="hover" class="hidden-xs">
	<a href="#" class="btn navbar-btn" type="button" data-toggle="modal" data-target="#buy"><span data-localize="buy.title">Buy</span></a>
</div>
<div data-toggle="tooltip" data-localize="account.help"  data-placement="left" title="Register or login for access to featured options" data-container="body" data-trigger="hover" class="hidden-xs hidden-xss">
	<a href="#" class="btn navbar-btn dropdown-toggle" data-toggle="collapse" data-target="#sidebarRight"><span class="guest" data-localize="account.login.title">Login<span class="hidden-xs"> (<span data-localize="account.register.title">Register</span>)</span></span><span class="user hidden"><span>Name</span><span>Lastname</span></span></a>
</div>
<div class="visible-xs visible-xss">
	<a href="#" class="btn navbar-btn dropdown-toggle" data-toggle="collapse" data-target="#sidebarRight"><span class="guest" data-localize="account.login.title">Login</span><span class="user hidden"><span>Name</span><span>Lastname</span></span></a>
</div>
