
<div class="hidden-xs">
  <ul class="nav navbar-nav">
  
     <!--   <li><a href="/"><i class="fa fa-lg fa-home"></i><span class="hidden">AGx</span></a></li> -->

     <li><a href="#" class="btn btn-link"><i class="fa fa-lg fa-question-circle"></i><span class="hidden">Help</span></a></li>

     <li><a href="#" class="btn btn-link"><i class="fa fa-lg fa-info-circle"></i><span class="hidden">Info</span></a></li>               
     <li class="guest"><a type="button" href="#" сlass="sidebarToggle" data-toggle="collapse" data-target="#sidebarLeft">Sign in</a></li>

     <li class="guest"><a type="button" href="#" сlass="sidebarToggle" data-toggle="collapse" data-target="#sidebarLeft" id="">Register for free</a></li>

     <li class="user hidden"><a type="button" href="#" сlass="sidebarToggle" data-toggle="collapse" data-target="#sidebar">Name Lastname <!-- <span>(789 Queries Left)</span> --></a></li>

     <li><a href="" type="button" data-toggle="modal" data-target="#buy">Buy</a></li> 

  </ul>
</div>           

