<div>
<div class="dropdown" data-toggle="tooltip" data-placement="right" title="Export of results to file" data-container="body" data-trigger="hover">

    <a class="btn navbar-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="hidden-xxs" data-localize="export">Export</span>
      <span class="visible-xxs"><i class="fa fa-lg fa-cloud-download"></i></span>
      <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#" type="button" data-toggle="modal" data-target="#filename"><span data-localize="msexcel">MSExcel</span></a></li>
      <li><a href="#" type="button" data-toggle="modal" data-target="#filename"><span data-localize="cvs">CVS</a></li>
      <li><a href="#" type="button" data-toggle="modal" data-target="#filename"><span data-localize="sql">SQL</span></a></li>            
      <li><a href="#" type="button" data-toggle="modal" data-target="#filename"><span data-localize="json">JSON</span></a></li>
      <li><a href="#" type="button" data-toggle="modal" data-target="#filename"><span data-localize="xml">XML</span></a></li>
    </ul>

</div>

</div>