<div>
<div class="dropdown" data-toggle="tooltip" data-placement="right" title="Export of results to file" data-container="body" data-trigger="hover">

    <a class="btn navbar-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="hidden-xxs">Export</span>
      <span class="visible-xxs"><i class="fa fa-lg fa-cloud-download"></i></span>
      <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">MSExcel</a></li>
      <li><a href="#">CVS</a></li>
      <li><a href="#">SQL</a></li>            
      <li><a href="#">JSON</a></li>
      <li><a href="#">XML</a></li>
    </ul>

</div>

</div>