<div>
<div class="dropdown" data-toggle="tooltip" data-placement="right" title="Export of results to file" data-container="body" data-trigger="hover">

    <a class="btn navbar-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="modal" data-target="#filename">
      <span class="hidden-xxs">Export</span>
    </a>

</div>

</div>
