
<div class="language dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><img src="assets/images/flags/us.svg" class="visible-xs"><span class="hidden-xs">English</span><span class="caret"></span></a>

    <ul class="dropdown-menu">
      <li><a href="/">English</a></li>
      <li><a href="index-ch.html">中国</a></li>
    </ul>
 </div>
