
<nav class="navbar navbar-inverse navbar-fixed-top navbar-main">
  <div class="nav-inner">

    <div class="visible-xs"><a type="button" href="#" class="btn btn-primary navbar-btn" data-toggle="collapse" data-target="#sidebarLeft"><i class="fa fa-lg fa-bars"></i></a></div>

    <div><a class="brand">AGx</a></div>

    {{> header_nav/auth }}

    {{> header_nav/language }}

    {{> header_nav/search}}

    {{> header_nav/export_dropdown}}

    {{> header_nav/saved_files}}

    {{> header_nav/create_query}}

   
    <div class="visible-xxs"><a type="button" href="#" class="btn btn-primary navbar-btn" data-toggle="collapse" data-target="#sidebarRight"><i class="fa fa-lg fa-cog"></i><i class="fa fa-caret-right"></i></a>
    </div>
   
  </div>
</nav>
