
<nav class="navbar navbar-inverse navbar-fixed-top navbar-main">
  <div class="navbar-inner">

    <div data-toggle="tooltip" data-placement="left" title="Click for about and help info" data-container="body" data-trigger="hover"><a class="btn navbar-btn brand">AGx<sup>i</sup></a></div>
   
    {{> header_nav/create_query}}
   
    {{> header_nav/search}}
  
    {{> header_nav/export_dropdown}}

    {{> header_nav/saved_files}}

     {{> header_nav/language }}
 
     {{> header_nav/auth }}



    </div>
 </nav>
  
   

