 <div data-toggle="tooltip" data-placement="left" title="History of saved file" data-container="body" data-trigger="hover" class="hidden-xs">
 <button class="btn navbar-btn" data-toggle="modal" data-target="#exporthistory"><span class="hidden-xxs">Saved files</span><span class="visible-xxs"><i class="fa fa-lg fa-cloud"></i></span></button>       
</div>  
