<div class="hidden-xxs" data-localize="files.help" data-toggle="tooltip" data-placement="left" title="History of saved files" data-container="body" data-trigger="hover">
   <a href="" class="btn navbar-btn" data-toggle="modal" data-target="#exporthistory"><span data-localize="files.title">Saved files</span></a>       
</div>  
