
 <div class="hidden-xxs" data-toggle="tooltip" data-placement="bottom" title="History of saved file" data-container="body" data-trigger="hover">

     <button class="btn navbar-btn btn-primary" data-toggle="modal" data-target="#exporthistory">Saved files</button>        

</div>  

 <div class="visible-xxs">          
    <a class="btn navbar-btn btn-primary" data-toggle="modal" data-target="#exporthistory"><i class="fa fa-lg fa-cloud"></i></a>
</div>            
