<div class="navbar-search-toogle"><a class="btn navbar-btn btn-link" id="searchToggle"><i class="fa fa-search"></i></a></div>
  
<div class="navbar-search width100"><div class="navbar-search-field width"><input type="text" data-localize="results.search" class="form-control" placeholder="Search for mutations of current sample analysis" data-localize=""></div></div> 

