
  
<div class="navbar-search"><div class="navbar-search-field width"><input type="text" data-localize="results.search" class="form-control" placeholder="Search for mutations of current sample analysis" data-localize=""></div></div> 

