
<!--
<div class="navbar-search-toogle"><a class="btn navbar-btn btn-link" id="searchToggle"><i class="fa fa-search"></i></a></div>
  
<div class="navbar-search"><div class="navbar-search-field width"><input type="text" class="form-control" placeholder="Search for 912345 variants current sample analises"></div></div> 
-->
