<div class="sidebar sidebar-default sidebar-left collapse width" id="sidebarLeft">


    <div class="sidebar-top btn-toolbar">
        <div class="btn-group"><h5><span data-localize="query.heading">Query sample analysis</span> <a href="#"
                                                                                                       data-localize="query.help"
                                                                                                       title="Analyze current sample with current filters and view"
                                                                                                       data-toggle="tooltip"
                                                                                                       data-placement="right"
                                                                                                       data-container="body"><i
                class="fa fa-info-circle text-muted"></i></a></h5></div>
        <div class="btn-group pull-right">
            <button data-target="#sidebarLeft" data-toggle="collapse" class="btn navbar-btn sidebarToggle" href="#"
                    type="button"><i class="fa fa-close"></i></button>
        </div>
    </div>
    <div class="sidebar-wrap">
        <div class="sidebar-scroll sidebar-filter">

            <section>
                <div class="btn-group btn-block">
                    <a data-target="#upload" type="button" data-toggle="modal" class="btn btn-warning btn-block"
                       href="#"><span data-localize="samples.upload.title">Upload</span></a>
                </div>
            </section>
            <section>
                <h5>
                    <span data-localize="sample.headings">Choose sample</span> <a class="btn btn-link"
                                                                                  data-localize="samples.help"
                                                                                  type="button" data-toggle="tooltip"
                                                                                  data-toggle="tooltip"
                                                                                  data-placement="right"
                                                                                  data-container="body"
                                                                                  title="Click here and type to search field symbols containing in metadata of available samples"><i
                        class="fa fa-info-circle text-muted"></i></a>
                </h5>


                <div class="btn-group btn-group-select2-wrap">
                    <select class="sample-search">
                        <option value="3620194" selected="selected">mental retardation patient12</option>
                    </select>
                </div>


            </section>
            <section>
                <h5>


                    <div class="btn-group dropdown pull-right">
                        <button class="btn btn-default dropdown-toggle caret-abs-pos" type="button"
                                data-toggle="dropdown"><i class="fa fa-cog"></i> <span class="caret"></a></button>
                        <ul class="dropdown-menu">
                            <li>
                                <a data-toggle="modal" data-target="#filter" href="#">
                                    <span data-localize="filters.setup.title">Setup Filters</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="modal" data-target="#combinefilter" href="#">
                                    <span data-localize="filters.combine.title">Combine Filters</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <span data-localize="filters.heading">Select filter</span> <a type="button"
                                                                                  data-localize="filters.help"
                                                                                  class="btn btn-link"
                                                                                  data-toggle="tooltip"
                                                                                  data-placement="right"
                                                                                  data-container="body"
                                                                                  title="Choose, setup and choose, combine available, create custom new filters"><i
                        class="fa fa-info-circle text-muted"></i></a>
                </h5>

                <div class="btn-group btn-group-select2-wrap">
                    <select class="select2" multiple="">
                        <option selected value="eye">Eye Cancer Diagnostics</option>
                        <option value="cust1">Breast cancer</option>
                        <option value="cust2">Lung cancer</option>
                        <option value="cust3">Autism</option>
                        <option value="cust4">Retinoblastoma</option>
                        <option value="cust5">Mental retardation</option>

                    </select>

                </div>
            </section>

            <section>
                <h5>
                    <div class="btn-group pull-right">
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#selectColumns">
                            <i class="fa fa-cog"></i></button>
                    </div>
                    <span data-localize="views.heading">Select view</span> <a type="button" class="btn btn-link"
                                                                              data-localize="views.help"
                                                                              data-toggle="tooltip"
                                                                              data-placement="right"
                                                                              data-container="body"
                                                                              title="Choose, setup custom new views, select columns, colunm order, sorting and column filter"><i
                        class="fa fa-info-circle text-muted"></i></a>
                </h5>


                <div class="btn-group btn-group-select2-wrap">

                    <select class="select2" is="view">
                        <option value="1" selected>Default View</option>
                        <option value="2">Default View Copy</option>
                        <option value="3">Custom View</option>
                        <option value="4">User Custom View 1</option>
                        <option value="5">User Custom View 2</option>
                        <option value="6">User Custom View 3</option>
                    </select>

                </div>
            </section>
            <section>
                <button class="btn btn-block btn-primary" type="button">
                    <span data-localize="query.analyze.title">Analyze</span>
                </button>


            </section>
            <section>
                <button data-target="#history" data-toggle="modal" type="button" class="btn btn-block btn-default"><span
                        data-localize="history.title">Load history</span></button>
            </section>
            <section>

                <small data-localize="query.description">Here you can analyze your samples or demo. The fee is charged
                    once only for the analysis of a new sample, re-load the results of the analysis of the sample has
                    already been analyzed can be unlimited
                </small>

            </section>
        </div>
    </div>

</div>
