<div class="sidebar sidebar-inverse sidebar-right collapse width" id="sidebarRight">


    <div class="btn-toolbar sidebar-top">
        <div class="btn-group"><h5 data-localize="account.title">Account</h5></div>
        <div class="btn-group pull-right">
            <button data-target="#sidebarRight" data-toggle="collapse" class="btn navbar-btn sidebarToggle" href="#"
                    type="button"><i class="fa fa-close"></i></button>

        </div>
    </div>
    <div class="sidebar-wrap">
        <div class="sidebar-scroll">
            <div class="guest">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="light" data-localize="account.description">
                            Short text about what the benefits received by the user upon login
                        </p>


                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab"
                                                                      data-toggle="tab"
                                                                      data-localize="account.login.title">Login</a></li>
                            <li role="presentation"><a href="#register" aria-controls="#register" role="tab"
                                                       data-toggle="tab"
                                                       data-localize="account.register.title">Register</a></li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="login">


                                <form>
                                    <div class="form-group has-feedback">
                                        <label data-localize="account.login.login.label">Login</label>

                                        <input type="text" class="form-control">
                                        <div class="help-text text-danger hidden"><span
                                                data-localize="account.login.login.error">No that login</span></div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label data-localize="account.login.password.label">Password</label>

                                        <input type="password" class="form-control">
                                        <div class="help-text text-danger hidden"><span
                                                data-localize="account.label.password.error">Wrong password</span></div>
                                        <div class="help-text">
                                            <small data-localize="account.label.password.help">Not less than 6
                                                characters, 1 uppercase, 1 character, 1..9, latin letters and symbols
                                            </small>
                                        </div>


                                    </div>
                                    <div class="form-group">
                                        <a href="" class="btb btn-link" data-localize="account.login.password.error">Remember
                                            password</a>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-block btn-primary" id="btnLogin"><span
                                                data-localize="account.login.sign_in">Sign in</span></button>
                                        <!-- <button class="btn btn-block btn-openid"></button> -->
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <span data-localize="account.login.question">If you do not already have an account</span>
                                        <a class="btb btn-link" href="" data-localize="account.register.action">register
                                            for free</a>
                                    </div>

                                    <div class="form-group">
                                        <a class="btn btn-link btn-block btn-wrapnormal text-warning" href=""
                                           type="button" data-toggle="modal" data-target="#buy" data-localize="buy.buy">Buy
                                            access to advanced features of App Genomix</a>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="register">

                                <form>
                                    <div class="form-group has-feedback">
                                        <label data-localize="account.register.email.label">Email</label>

                                        <input type="email" class="form-control">
                                        <div class="help-text text-danger hidden"><span
                                                data-localize="account.register.email.error">Wrong email</span></div>

                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-block btn-primary" id="btnLogin"><span
                                                data-localize="account.register.sign_up">Sign up for free</span>
                                        </button>

                                    </div>
                                    <hr>

                                    <div class="form-group">
                                        <span data-localize="account.register.confirm">By clicking</span> <strong
                                            data-localize="account.register.sign_up">Sign up for free</strong> <span
                                            data-localize="account.register.agree">you agree to</span> <a href=""
                                                                                                          class="btb btn-link"
                                                                                                          data-localize="account.register.terms">our
                                        terms and conditions</a>
                                    </div>
                                    <div class="form-group">
                                        <span data-localize="account.register.terms">Already have an account?</span><a
                                            href="" class="btb btn-link" data-localize="account.login.action"> Sign
                                        in</a>
                                    </div>
                                    <div class="form-group">
                                        <a class="btn btn-link btn-block btn-wrapnormal text-warning" href=""
                                           type="button" data-toggle="modal" data-target="#buy" data-localize="buy.buy">Buy
                                            access to advanced features of App Genomix</a>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="user hidden">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <button type="button" class="btn btn-link pull-right" id="userEditBtn"><i
                                    class="fa fa-pencil"></i></button>
                            <span>Name</span> <span>Lastname</span></h4>
                    </div>
                    <div class="panel-body">
                        <div class="user-view">

                            <dl>
                                <dt>
                                    <span data-localize="account.profile.email.label">Email</span>:
                                </dt>
                                <dd>
                                    <a href="maito:user@domain.com">user@domain.com</a>
                                    </d>
                            </dl>

                            <dl>
                                <dt>
                                    <span data-localize="account.profile.specialization.label">Specialization</span>:
                                </dt>
                                <dd>
                                    Doctor
                                    </d>
                            </dl>

                            <dl>
                                <dt>
                                    <span data-localize="language.title">Language</span>:
                                </dt>
                                <dd>
                                    English
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <span data-localize="account.profile.balance.label">Balance</span>:
                                </dt>
                                <!--if paid sample analises, not a zero balance -->
                                <dd>
                                    <span class="text-success">789 <span data-localize="account.profile.balance.value">paid analysis left</span></span>
                                    <!--  If zero balance  -->
                                    <span class="text-warning hidden">0 <span
                                            data-localize="account.profile.balance.value">paid analysis left</span></span>
                                </dd>
                            </dl>

                            <!--  If no paid options, to use remove class hidden  -->
                            <p class="hidden">
                                <a class="btn btn-warning btn-block btn-wrapnormal" href="" type="button"
                                   data-toggle="modal" data-target="#buy" data-localize="buy.buy">Buy access to advanced
                                    features of App Genomix</a>
                            </p>
                            <!--if paid sample analises, zero balance, to use remove classes hidden  -->
                            <p class="hidden">
                                <a class="btn btn-warning btn-block btn-wrapnormal" href="" type="button"
                                   data-toggle="modal" data-target="#buy" data-localize="buy.buy_continue">Buy access to
                                    continue to use the advanced features of App Genomix</a>
                            </p>

                        </div>
                        <div class="user-view hidden">

                            <form>
                                <div class="form-group has-feedback">
                                    <label data-localize="account.profile.name.label">Name</label>
                                    <input type="text" class="form-control">
                                    <div class="help-text hidden" data-localize="account.profile.name.error">Name can
                                        not be so short
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label data-localize="account.profile.lastname.label">Last Name</label>

                                    <input type="text" class="form-control">
                                    <div class="help-text hidden" data-localize="account.profile.name.error">Last Name
                                        can not be so short
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label data-localize="account.profile.email.label">Email</label>

                                    <input type="email" class="form-control" value="user@domain.com">
                                    <div class="help-text hidden"><span data-localize="account.profile.email.error">Wrong email</span>
                                    </div>

                                </div>
                                <div class="form-group has-feedback">
                                    <label data-localize="account.profile.specialization.label">Specialization</label>

                                    <input type="text" class="form-control">


                                </div>
                                <div class="form-group has-feedback">
                                    <label data-localize="language.title">Language</label>
                                    <div class="select-wrap">
                                        <select class="select2 select2-hidden-accessible" tabindex="-1"
                                                aria-hidden="true">
                                            <option>
                                                English
                                            </option>
                                            <option>
                                                中文
                                            </option>

                                        </select>
                                    </div>


                                </div>
                                <div class="row form-action">
                                    <div class="col-xs-6">
                                        <button class="btn btn-block  btn-default usrViewActBtn" type="button"><span
                                                data-localize="actions.cancel">Cancel</span></button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn btn-block  btn-primary usrViewActBtn" type="button"><span
                                                data-localize="actions.save">Save</span></button>
                                    </div>
                                </div>


                            </form>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="" data-localize="account.payments.heading">Latest Paid
                            Analysis</a></h4>
                    </div>

                    <!----- samples -->
                    <div class="flex">
                        <dl>
                            <dt>Name</dt>
                            <dd>Ogden syndrome</dd>
                        </dl>
                        <dl>
                            <dt>Versia</dt>
                            <dd>V.1.6</dd>
                        </dl>
                        <dl>
                            <dt>Size</dt>
                            <dd>56 KB</dd>
                        </dl>
                        <dl>
                            <dt>Datetime</dt>
                            <dd><a href="">02.12.2015 21:32:21</a></dd>
                        </dl>
                    </div>
                    <div class="flex">
                        <dl>
                            <dt>Name</dt>
                            <dd>Ogden syndrome</dd>
                        </dl>
                        <dl>
                            <dt>Versia</dt>
                            <dd>V.1.6</dd>
                        </dl>
                        <dl>
                            <dt>Size</dt>
                            <dd>56 KB</dd>
                        </dl>
                        <dl>
                            <dt>analyzed</dt>
                            <dd><a href="">02.12.2015 21:32:21</a></dd>
                        </dl>
                    </div>
                    <div class="flex">
                        <dl>
                            <dt>Name</dt>
                            <dd>Ogden syndrome</dd>
                        </dl>
                        <dl>
                            <dt>Versia</dt>
                            <dd>V.1.6</dd>
                        </dl>
                        <dl>
                            <dt>Size</dt>
                            <dd>56 KB</dd>
                        </dl>
                        <dl>
                            <dt>analyzed</dt>
                            <dd><a href="">02.12.2015 21:32:21</a></dd>
                        </dl>
                    </div>
                    <div class="flex">
                        <dl>
                            <dt>Name</dt>
                            <dd>Ogden syndrome</dd>
                        </dl>
                        <dl>
                            <dt>Versia</dt>
                            <dd>V.1.6</dd>
                        </dl>
                        <dl>
                            <dt>Size</dt>
                            <dd>56 KB</dd>
                        </dl>
                        <dl>
                            <dt>analyzed</dt>
                            <dd><a href="">02.12.2015 21:32:21</a></dd>
                        </dl>
                    </div>

                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a class="btn btn-block btn-default" href="#"><span data-localize="account.logout">Logout</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
