<div class="sidebar sidebar-inverse sidebar-right collapse width" id="sidebarRight"> 


    <div class="btn-toolbar sidebar-top">
    <div class="btn-group"><h5>Account</h5></div>
    <div class="btn-group pull-right"><button data-target="#sidebarRight" data-toggle="collapse" class="btn navbar-btn sidebarToggle" href="#" type="button"><i class="fa fa-close"></i></button>
      
    </div>
   </div>
    <div class="sidebar-wrap">
     <div class="sidebar-scroll">
       <div class="guest">
     <div class="panel panel-default">
       <div class="panel-body">
      <p class="light">
         Short text about what the benefits received by the user upon login
     </p> 
     

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
    <li role="presentation"><a href="#register" aria-controls="#register" role="tab" data-toggle="tab">Register</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="login">
      
      
        <form>
             <div class="form-group has-feedback">
           <label>Login</label>
           
             <input type="text" class="form-control">
             <div class="help-text hidden">No this login</div>
             </div>
             <div class="form-group has-feedback">
           <label>Password</label>
 
           <input type="password" class="form-control">
         <div class="help-text hidden">No this login</div>

           
         </div>
             <div class="form-group">
               <a href="" class="btb btn-link">Remember password</a>
             </div>
             <div class="form-group">
             <button type="button" class="btn btn-block btn-primary" id="btnLogin">Sign in</button>
            <!-- <button class="btn btn-block btn-openid"></button> -->
             </div>
            <hr>
<div class="form-group">
              If you do not already have an account <a class="btb btn-link" href="">register for free</a>
             </div>

         
          </form> 
        </div>
    <div role="tabpanel" class="tab-pane" id="register">  
        
        <form>
             <div class="form-group has-feedback">
           <label>Email</label>
           
             <input type="email" class="form-control">
               <div class="help-text hidden">Error</div>
             </div>
             <div class="form-group">
             <button type="button" class="btn btn-block btn-primary" id="btnLogin">Sign up for free</button>
         
           </div>
             <hr>
             
              <div class="form-group">
               By clicking <strong>Sign up for free</strong> you agree to <a href="" class="btb btn-link">our terms and conditions</a>
             </div> 
            <div class="form-group">
               Already have an account?<a href="" class="btb btn-link"> Sign in</a>
             </div> 

          </form> 
            </div>
  </div>

  </div>
     </div>
       </div>
       <div class="user hidden">

         <div class="panel panel-default">
           <div class="panel-heading">
              <h4 class="panel-title"> <button type="button" class="btn btn-link pull-right" id="userEditBtn"><i class="fa fa-pencil"></i></button> Name Lastname</h4>
           </div>
          <div class="panel-body">
              <div class="user-view">           
      
           <dl>
          <dt>
           Email: 
          </dt>
          <dd>
            <a href="maito:user@domain.com">user@domain.com</a>
          </d>
        </dl> 

        <dl>
          <dt>
           Specialization: 
          </dt>
          <dd>
            Doctor
          </d>
        </dl> 
        <dl>
          <dt>
           Balance: 
          </dt>
          <dd>
         <a href="">789 Queries Left</a>
          </d>
        </dl>
  		  <dl>
          <dt>
           Language: 
          </dt>
          <dd>
           English
          </dd>
        </dl>
       
        
   
            </div>
              <div class="user-view hidden">
            
           <form>
  
        
            <div class="form-group has-feedback">
              <label>Name</label>
             <input type="text" class="form-control">
               <div class="help-text hidden">No this login</div>
             </div>
             <div class="form-group has-feedback">
             <label>Last Name</label>
 
             <input type="text" class="form-control">
             <div class="help-text hidden">No this login</div>
           
         </div>
             <div class="form-group has-feedback">
             <label>Email</label>
 
             <input type="email" class="form-control">
             <div class="help-text hidden">No this login</div>
           
         </div>
             <div class="form-group has-feedback">
             <label>Specialization</label>
 
             <input type="text" class="form-control">
             <div class="help-text hidden">No this login</div>
           
         </div>
             <div class="form-group has-feedback">
             <label>Language</label>
 <div class="select-wrap">
             <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
               <option>
                English
               </option>
               <option>
                中文
               </option>

             </select>
 </div>
             <div class="help-text hidden">No this login</div>
           
         </div>
             <div class="row form-action">
               <div class="col-sm-6">
               <button class="btn btn-block  btn-default usrViewActBtn" type="button">Cancel</button>
               </div>
               <div class="col-sm-6"> 
              <button class="btn btn-block  btn-primary usrViewActBtn" type="button">Save</button>
               </div>
         </div>
          </form> 
          </div>
         </div>
    </div>
          <div class="panel panel-default">
           <div class="panel-heading">
           <h4 class="panel-title"> <a href="">Latest Paid Analises</a></h4>
           </div>
           <ul class="list-group">
             <li>
  <div class="list-group-item">
    <h5 class="list-group-item-heading">#456</h5>
    <ul class="list-unstyled">
        
        <li>
          <strong>
           Gender: 
          </strong>
          <span>
           Male
          </span>
        </li>
  		<li>
          <strong>
           Phenotype: 
          </strong>
          <span>
           11p partial monosomy syndrome
          </span>
        </li>
        <li>
          <strong>           Sample:            </strong>
          <span>            ATCC HCC1187 TumorBL</span>
        </li>
<li>
<strong>
          Description: 
          </strong>
   <span>
           Custom text
          </span>
</li>
        
    </ul>
    
  </div>
             
</li>
<li>
  <div class="list-group-item">
    <h5 class="list-group-item-heading">#56</h5>
    <ul class="list-unstyled">
        
        <li>
          <strong>
           Gender: 
          </strong>
          <span>
           Male
          </span>
        </li>
  		<li>
          <strong>
           Phenotype: 
          </strong>
          <span>
           11p partial monosomy syndrome
          </span>
        </li>
        <li>
          <strong>           Sample:            </strong>
          <span>       iha1           </span>
        </li>
<li>
<strong>
          Description: 
          </strong>
   <span>
           Custom text
          </span>
</li>
        
    </ul>
    
  </div>
             
</li>
           </ul>
         </div>
        
       </div> 
      </div>  
</div>

</div>
