
<div class="sidebar sidebar-left collapse width" id="sidebarLeft"> 

  <div class="sidebar-inner"> 
    <div class="btn-toolbar sidebar-top">
    <div class="btn-group"><h5>Profile</h5></div>
    <div class="btn-group pull-right"><button data-target="#sidebarLeft" data-toggle="collapse" class="btn navbar-btn sidebarToggle" href="#" type="button"><i class="fa fa-lg fa-close text-muted"></i></button>
      
    </div>
   </div>
      <div class="guest">
        <form>
             <div class="form-group has-feedback">
           <label>Sign in</label>
           
             <input type="text" class="form-control">
             <div class="help-text hidden">No this login</div>
             </div>
             <div class="form-group has-feedback">
           <label>Password</label>
 
           <input type="password" class="form-control">
         <div class="help-text hidden">No this login</div>

           
         </div>
             <div class="form-group">
               <a href="" class="btb btn-link">Remember password</a>
             </div>
             <div class="form-group">
             <button type="button" class="btn btn-block btn-primary" id="btnLogin">Sign in</button>
            <!-- <button class="btn btn-block btn-openid"></button> -->
         </div>
             <!--
<div class="form-group">
               <a class="btb btn-link" href="">Register for free</a>
             </div>
-->
             
            <!--
 <div class="form-group">
               By clicking Submit, you agree to <a href="">our terms and conditions</a>
             </div>
-->

          </form> 
            </div>
            
        
         <div class="user hidden">
       
         
         
          <div class="user-view">
            <button type="button" class="btn btn-link pull-right" id="userEditBtn"><i class="fa fa-pencil"></i></button> 
             <h4>Name Lastname</h4>
            <ul class="list-unstyled">
           <li>
          <strong>
           Email: 
          </strong>
          <span>
            <a href="maito:user@domain.com">user@domain.com</a>
          </span>
        </li> 

       <li>
          <strong>
           Specialization: 
          </strong>
          <span>
            Doctor
          </span>
        </li> 
        <li>
          <strong>
           Balance: 
          </strong>
          <span>
         <a href="">789 Queries Left</a>
          </span>
        </li>
  		<li>
          <strong>
           Language: 
          </strong>
          <span>
           English
          </span>
        </li>
       
        
    </ul>
            </div>
          <div class="user-view hidden">
            
           <form>
  
        
            <div class="form-group has-feedback">
              <label>Name</label>
             <input type="text" class="form-control">
               <div class="help-text hidden">No this login</div>
             </div>
             <div class="form-group has-feedback">
             <label>Last Name</label>
 
             <input type="text" class="form-control">
             <div class="help-text hidden">No this login</div>
           
         </div>
             <div class="form-group has-feedback">
             <label>Email</label>
 
             <input type="email" class="form-control">
             <div class="help-text hidden">No this login</div>
           
         </div>
             <div class="form-group has-feedback">
             <label>Specialization</label>
 
             <input type="text" class="form-control">
             <div class="help-text hidden">No this login</div>
           
         </div>
             <div class="form-group has-feedback">
             <label>Language</label>
 <div class="select-wrap">
             <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
               <option>
                English
               </option>
               <option>
                中文
               </option>

             </select>
 </div>
             <div class="help-text hidden">No this login</div>
           
         </div>
             <div class="row form-action">
               <div class="col-xs-6 col-sm-6">
               <button class="btn btn-block  btn-default usrViewActBtn" type="button">Cancel</button>
               </div>
               <div class="col-xs-6 col-sm-6"> 
              <button class="btn btn-block  btn-primary usrViewActBtn" type="button">Save</button>
               </div>
         </div>
          </form> 
          </div>
       
                 
         <div class="panel panel-default">
           <div class="panel-heading">
           <h4> <a href="">Latest Analised Samples</a></h4>
           </div>
           <ul class="list-group">
             <li>
  <div class="list-group-item">
    <h5 class="list-group-item-heading">#456</h5>
    <ul class="list-unstyled">
        
        <li>
          <strong>
           Gender: 
          </strong>
          <span>
           Male
          </span>
        </li>
  		<li>
          <strong>
           Phenotype: 
          </strong>
          <span>
           11p partial monosomy syndrome
          </span>
        </li>
        <li>
          <strong>           Sample:            </strong>
          <span>            ATCC HCC1187 TumorBL</span>
        </li>
<li>
<strong>
          Description: 
          </strong>
   <span>
           Custom text
          </span>
</li>
        
    </ul>
    
  </div>
             
</li>
<li>
  <div class="list-group-item">
    <h5 class="list-group-item-heading">#56</h5>
    <ul class="list-unstyled">
        
        <li>
          <strong>
           Gender: 
          </strong>
          <span>
           Male
          </span>
        </li>
  		<li>
          <strong>
           Phenotype: 
          </strong>
          <span>
           11p partial monosomy syndrome
          </span>
        </li>
        <li>
          <strong>           Sample:            </strong>
          <span>       iha1           </span>
        </li>
<li>
<strong>
          Description: 
          </strong>
   <span>
           Custom text
          </span>
</li>
        
    </ul>
    
  </div>
             
</li>
           </ul>
         </div>
         </div>
       </div>   
</div>

