<div class="sidebar sidebar-inverse sidebar-right collapse width" id="sidebarRight"> 


    <div class="btn-toolbar sidebar-top">
    <div class="btn-group"><h5>Account</h5></div>
    <div class="btn-group pull-right"><button data-target="#sidebarRight" data-toggle="collapse" class="btn navbar-btn sidebarToggle" href="#" type="button"><i class="fa fa-close"></i></button>
      
    </div>
   </div>
    <div class="sidebar-wrap">
     <div class="sidebar-scroll">
       <div class="guest">
     <div class="panel panel-default">
       <div class="panel-body">
      <p class="light">
         Short text about what the benefits received by the user upon login
     </p> 
     

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
    <li role="presentation"><a href="#register" aria-controls="#register" role="tab" data-toggle="tab">Register</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="login">
      
      
        <form>
             <div class="form-group has-feedback">
           <label>Login</label>
           
             <input type="text" class="form-control">
             <div class="help-text text-danger hidden">No this login</div>
             </div>
             <div class="form-group has-feedback">
           <label>Password</label>
 
           <input type="password" class="form-control">
         <div class="help-text text-danger hidden">No this login</div>

           
         </div>
             <div class="form-group">
               <a href="" class="btb btn-link">Remember password</a>
             </div>
             <div class="form-group">
             <button type="button" class="btn btn-block btn-primary" id="btnLogin">Sign in</button>
            <!-- <button class="btn btn-block btn-openid"></button> -->
             </div>
            <hr>
         <div class="form-group">
              If you do not already have an account <a class="btb btn-link" href="">register for free</a>
             </div>

            <div class="form-group">
                <a class="btn btn-link btn-block btn-wrapnormal text-warning" href=""  type="button" data-toggle="modal" data-target="#buy">Buy access to advanced features of App Genomix</a>
             </div>
          </form> 
        </div>
    <div role="tabpanel" class="tab-pane" id="register">  
        
        <form>
             <div class="form-group has-feedback">
           <label>Email</label>
           
              <input type="email" class="form-control">
              <div class="help-text text-danger hidden">Error</div>
             </div>
             <div class="form-group">
             <button type="button" class="btn btn-block btn-primary" id="btnLogin">Sign up for free</button>
         
           </div>
             <hr>
             
              <div class="form-group">
               By clicking <strong>Sign up for free</strong> you agree to <a href="" class="btb btn-link">our terms and conditions</a>
             </div> 
            <div class="form-group">
               Already have an account?<a href="" class="btb btn-link"> Sign in</a>
             </div> 
             <div class="form-group">
                <a class="btn btn-link btn-block btn-wrapnormal text-warning" href=""  type="button" data-toggle="modal" data-target="#buy">Buy access to advanced features of App Genomix</a>
             </div>
            </form> 
            </div>
  </div>

  </div>
     </div>
       </div>
       <div class="user hidden">

         <div class="panel panel-default">
           <div class="panel-heading">
              <h4 class="panel-title"> <button type="button" class="btn btn-link pull-right" id="userEditBtn"><i class="fa fa-pencil"></i></button> Name Lastname</h4>
           </div>
          <div class="panel-body">
              <div class="user-view">           
      
           <dl>
          <dt>
           Email: 
          </dt>
          <dd>
            <a href="maito:user@domain.com">user@domain.com</a>
          </d>
        </dl> 

           <dl>
          <dt>
           Specialization: 
          </dt>
          <dd>
            Doctor
          </d>
        </dl> 
          
           <dl>
          <dt>
           Language: 
          </dt>
          <dd>
           English
          </dd>
        </dl>         
           <dl>
          <dt>
           Balance: 
          </dt>
             <!--if paid sample analises, not a zero balance -->
          <dd>
             <span  class="text-success">789 paid analises left</span>
             <!--  If zero balance  -->
             <span  class="text-warning hidden">0 paid analises left</span>
          </dd>
          </dl>
          
          <!--  If no paid options, to use remove class hidden  -->
             <p class="hidden">
                <a class="btn btn-warning btn-block btn-wrapnormal" href="" type="button" data-toggle="modal" data-target="#buy">Buy access to advanced features of App Genomix</a>
             </p>
        <!--if paid sample analises, zero balance, to use remove classes hidden  -->
              <p class="hidden">
                <a class="btn btn-warning btn-block btn-wrapnormal" href="" type="button" data-toggle="modal" data-target="#buy">Buy access to continue to use the advanced features of App Genomix</a>
              </p>
          
            </div>
              <div class="user-view hidden">
            
           <form>
            <div class="form-group has-feedback">
              <label>Name</label>
             <input type="text" class="form-control">
               <div class="help-text hidden">No this login</div>
             </div>
             <div class="form-group has-feedback">
             <label>Last Name</label>
 
             <input type="text" class="form-control">
             <div class="help-text hidden">No this login</div>           
            </div>
             <div class="form-group has-feedback">
             <label>Email</label>
 
             <input type="email" class="form-control" value="user@domain.com">
             <div class="help-text hidden">No this login</div>
           
             </div>
             <div class="form-group has-feedback">
             <label>Specialization</label>
 
             <input type="text" class="form-control">
             <div class="help-text hidden">No this login</div>
           
            </div>
             <div class="form-group has-feedback">
             <label>Language</label>
             <div class="select-wrap">
              <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
               <option>
                English
               </option>
               <option>
                中文
               </option>

             </select>
             </div>
             <div class="help-text hidden">No this login</div>
           
         </div>
             <div class="row form-action">
               <div class="col-xs-6">
               <button class="btn btn-block  btn-default usrViewActBtn" type="button">Cancel</button>
               </div>
               <div class="col-xs-6"> 
              <button class="btn btn-block  btn-primary usrViewActBtn" type="button">Save</button>
               </div>
         </div>
             
             
             
          </form> 
           
          </div>
         </div>
        </div>
          <div class="panel panel-default">
           <div class="panel-heading">
           <h4 class="panel-title"> <a href="">Latest Paid Analises</a></h4>
           </div>
                 
             <!----- samples -->
            <div class="flex">
           <dl>
            <dt>Name</dt>
            <dd>Ogden syndrome</dd>
          </dl>
           <dl>
            <dt>Versia</dt>
            <dd>V.1.6</dd>
           </dl>
           <dl>
            <dt>Size</dt>
            <dd>56 KB</dd>
           </dl>
           <dl>
            <dt>Datetime</dt>
            <dd><a href="">02.12.2015 21:32:21</a></dd>
           </dl> 
        </div>
            <div class="flex">
           <dl>
            <dt>Name</dt>
            <dd>Ogden syndrome</dd>
          </dl>
           <dl>
            <dt>Versia</dt>
            <dd>V.1.6</dd>
           </dl>
           <dl>
            <dt>Size</dt>
            <dd>56 KB</dd>
           </dl>
           <dl>
            <dt>Analized</dt>
            <dd><a href="">02.12.2015 21:32:21</a></dd>
           </dl> 
        </div>
            <div class="flex">
           <dl>
            <dt>Name</dt>
            <dd>Ogden syndrome</dd>
          </dl>
           <dl>
            <dt>Versia</dt>
            <dd>V.1.6</dd>
           </dl>
           <dl>
            <dt>Size</dt>
            <dd>56 KB</dd>
           </dl>
           <dl>
            <dt>Analized</dt>
            <dd><a href="">02.12.2015 21:32:21</a></dd>
           </dl> 
        </div>
            <div class="flex">
           <dl>
            <dt>Name</dt>
            <dd>Ogden syndrome</dd>
          </dl>
           <dl>
            <dt>Versia</dt>
            <dd>V.1.6</dd>
           </dl>
           <dl>
            <dt>Size</dt>
            <dd>56 KB</dd>
           </dl>
           <dl>
            <dt>Analized</dt>
            <dd><a href="">02.12.2015 21:32:21</a></dd>
           </dl> 
        </div>
            
         </div>
          <div class="panel panel-default">
              <div class="panel-body">
              <a class="btn btn-block btn-default" href="#">Logout</a>
              </div>
             </div>
           </div> 
      </div>  
</div>

</div>
