.warning {
    background: red;
    font-weight: bold;
    color: yellow;
    display: none;
}

body.no-password #password {
    display: none;
}

body.no-login-type #login-type {
    display: none;
}

body.no-register #register-block {
    display: none;
}

body.warning-userdata #warning-userdata {
    display: block;
}

body.warning-password #warning-password {
    display: block;
}
