<div class="table-cell">
<div class="btn-group btn-group-submit"
  data-toggle="tooltip"
  data-placement="bottom"
  data-container="body"
  title="Analyze current sample with current filters and view">  
  <button class="btn btn-rounded btn-alt-primary" type="button">
     <span data-localize="actions.analyze.title">Analyze</span>
  </button>
 </div>
</div>