<div class="table-cell">
<div id="analyzeBtnGroup" class="btn-group btn-group-submit"
  data-localize="query.analyze.help"
  data-toggle="tooltip"
  data-placement="bottom"
  data-container="body"
  title="Click for analyze current sample with current filters and view">  
  <button class="btn btn-rounded btn-primary" type="button" data-toggle="modal" data-target="#confirm">
     <span data-localize="query.analyze.title">Analyze</span>
  </button>
 </div>
</div>