 <div class="table-cell">
<div class="dropdown btn-group" data-localize="filters.setup.help"  data-toggle="tooltip" data-placement="right" data-container="body" title="Setup, combine, create custom new filters or combine default">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span data-localize="filters.title">Filters</span> <span class="caret"></span>
    </button>
  <ul class="dropdown-menu dropdown-menu-item-template">
    <li><a href="#" type="button" data-toggle="modal" data-target="#filter"><span data-localize="filters.setup.title">Setup Filters</span></a></li>
    <li><a href="#" type="button" data-toggle="modal" data-target="#combinefilter"><span data-localize="filters.combine.title">Combine Filters</span></a></li>
    
  </ul>
</div>
 </div>
  <div class="table-cell table-cell100">
    <div class="btn-group"  data-localize="filters.help" data-toggle="tooltip" data-placement="bottom"  data-container="body" title="Select one or more from available filters">
    <select class="select2" multiple="">
           <option selected value="eye">Eye Cancer Diagnostics</option>            
            <option value="cust1">Breast cancer</option>
            <option value="cust2">Lung cancer</option>
            <option value="cust3">Autism</option>
            <option value="cust4">Retinoblastoma</option>
            <option value="cust5">Mental retardation</option>
        </select>
</div>
  </div>
   

