<div class="table-cell table-cell100">
<div class="btn-group"  data-toggle="tooltip" data-placement="bottom"  data-container="body" title="Click here and type to search field symbols containing in metadata of available samples">
   <select class="sample-search">
     <option value="3620194" selected="selected">mental retardation patient12</option>
   </select> 
</div>
</div>
