<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <div class="table-row">

            
                {{> create_query/upload }}
           
            
                {{> create_query/metadata_search }}
    

          
                {{> create_query/filters}}
            
                {{> create_query/views }}
           
           
                 
                {{> create_query/analize }}
           
                {{> create_query/load_history }}
           

        </div>
    </div>
</nav>
