
 <div class="btn-group" data-toggle="tooltip" data-placement="bottom" data-container="body"  title="Upload .vfc file of sample">

     <a href="#" class="btn btn-warning" data-toggle="modal" type="button" data-target="#upload">Upload</a>

</div>
