<div class="table-cell">
 <div class="btn-group" data-toggle="tooltip" data-placement="bottom" data-container="body"  title="Upload .vfc file of sample">
     <a href="#" class="btn btn-primary" data-toggle="modal" type="button" data-target="#upload">Upload</a>
</div>
</div>