 <div class="table-cell">
 <div class="btn-group" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Setup custom new views, select colunms, colunm order, sorting and colunm filter">
   <button class="btn btn-default" type="button" data-toggle="modal" data-target="#selectColumns">Views</button>
 </div>
 </div> 
 <div class="table-cell table-cell100">
<div class="btn-group btn-group-select100" data-toggle="tooltip" data-placement="bottom"  data-container="body" title="Select one or more from available views">
  <select class="select2" is="view">
    <option value="1" selected>Default View</option>
    <option value="2">Default View Copy</option>
    <option value="3">Custom View</option>
    <option value="4">User Custom View 1</option>
    <option value="5">User Custom View 2</option>
    <option value="6">User Custom View 3</option>
  </select>
</div>
 </div>