.select2-results__option { 
  .row { 
   border-top: 1px solid @gray-lighter;
    margin: -6px;
   > div { 
     padding: 5px 12px;
   }
  }
  .select2-results__option--highlighted[aria-selected] { 
    .row * {
      color: #fff!important;
   }
  }
}
.select2-results__option--highlighted * { 
  color: #fff;
  > span { 
   color: #fff; 
  }
}

select.select2.form-control + span.select2 { 
  width: 100%!important;
}

.btn-group-select2-wrap {
  width: 100%; 
  span.select2 { 
    width: 100%!important;
  }
}


.table-row { 
  > div { 
   span.select2 { 
     width: 100%!important;
   }
   .select2-container--default .select2-selection--multiple .select2-selection__rendered { 
    display: block;
    white-space: nowrap;
   }
   .select2-container--default .select2-selection--multiple .select2-selection__choice { 
     display: inline-block;
    float: none
   }
   .select2-container .select2-search--inline {
    display: inline-block;
    float: none;
    }
  
  }
}

.select2-btn-primary { 
  .select2-container--default .select2-selection--single {
    background-color:@btn-primary-bg;
    color: @btn-primary-color;
    border: 1px solid @btn-primary-border;

  }
}

.select2-results__option { 
  .fa {
    color: @text-muted;
  }
}

.select2-btn-default { 
  + .select2-container--default .select2-selection--single { 
      border-left: 2px solid @gray-lighter;
  }
}
.select2-btn-primary { 
  + .select2-container--default .select2-selection--single { 
      border-left: 2px solid @brand-primary;
  }
}
.select2-btn-success { 
  + .select2-container--default .select2-selection--single { 
      border-left: 2px solid @brand-success;
  }
}
.form-group > div .select-icons + .select2 {
    width: 46px!important;
}

//material design
.material-select { 
  + .select2-container--default { 
     .select2-selection--single { 
      border-width: 0 0 1px;
      box-shadow: none;
      background:transparent;
      border-radius: 0;
      height: 40px;
      padding-left: 0;
      border-color: @input-border;
       
     .select2-selection__rendered { 
       padding-left: 0;
       padding-right: 0;
       line-height: 40px;
     }
     .select2-selection__arrow b {
     border-color: @gray transparent transparent;
     }
   }
  }
} 

