<div class="alert alert-inverse alert-fixed hidden">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<!--   success state -->
  <p>Filename.vcf is upload successfully</p>
  <p>You can choose sample SampleName for analises now</p>
  <p><button class="btn btn-sm btn-block btn-success">Choose this sample for analises</button></p>
<!--   warning state -->  
 <p>Filename.vcf is upload successfully</p>
  <p>You can choose sample SampleName for analises now <span class="text-warning">but sample metadata is not complite</p>
  <p><button class="btn btn-sm btn-block btn-warning">Choose this sample for analises</button></p>
<!--   danger state -->
 <p>Filename.vcf is not upload</p>
  <p><span class="text-danger">File is damage or file format not supported</p>
</div>
