<div class="alert alert-inverse alert-fixed hidden">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<!--   success state -->
  <p data-localize="samples.upload.alerts.success.title">Filename.vcf is upload successfully</p>
  <p data-localize="samples.upload.alerts.success.description">You can choose sample SampleName for analises now</p>
  <p><button class="btn btn-sm btn-block btn-success"><span data-localize="samples.upload.alerts.success.action">Choose this sample for analises</span></button></p>
<!--   warning state -->  
 <p data-localize="samples.upload.alerts.warning.title">Filename.vcf is upload successfully</p>
  <p data-localize="samples.upload.alerts.warning.title">You can choose sample SampleName for analises now <span class="text-warning" data-localize="samples.upload.alerts.warning.accent">but sample metadata is not complite</p>
  <p><button class="btn btn-sm btn-block btn-warning" data-localize="samples.upload.alerts.warning.action">Fill sample metadata</button></p>
<!--   danger state -->
 <p data-localize="samples.upload.alerts.error.title">Filename.vcf is not upload</p>
  <p data-localize="samples.upload.alerts.error.description"><span class="text-danger">File is damage or file format not supported</p>
</div>
