<div class="modal fade" id="buy" tabindex="-1" role="dialog" aria-labelledby="buylabel">
    <div class="modal-dialog modal-dialog-primary" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-with-nav ui-draggable-handle">
                <div class="navbar navbar-inverse table-row">
                    <div>
                        <h4 class="modal-title">Buy</h4>
                    </div>
                    <div class="navbar-search max-width" style="">
                        <div class="input-group navbar-search-field">
                            <input type="text" placeholder="" class="form-control placeholder-inverse" id="hshortcuts">
                        </div>
                    </div>
                    <div>
                        <button aria-label="Close" data-dismiss="modal" class="btn navbar-btn" type="button"><span
                                aria-hidden="true"><i class="md-i">close</i></span></button>
                    </div>
                </div>
            </div>


            <div class="modal-body table-content">
                <div class="list-group-header">
                    <h3 class="" data-localize="general.welcome">Welcome.</h3>
                    <p class="text-warning" data-localize="buy.warning.nopaid_analyzes">You have not paid analyzes</p>
                    <p><span data-localize="buy.select_office"> Select the office closest to you and ask for the purchase of paid features AGx</span>
                    </p>

                </div>

                <div class="list-group">

                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Company heading</h4>
                        <dl class="dl-horizontal">
                            <dt>address</dt>
                            <dd>
                                <ul class="list-group-item-text">
                                    <li>Office address line 1,</li>
                                    <li> Office address line 1,</li>
                                    <li>Office address line 1,</li>

                                </ul>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Phone</dt>
                            <dd>+890 678 343789</dd>
                        </dl>

                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Company heading</h4>
                        <dl class="dl-horizontal">
                            <dt>address</dt>
                            <dd>
                                <ul class="list-group-item-text">
                                    <li>Office address line 1,</li>
                                    <li> Office address line 1,</li>
                                    <li>Office address line 1,</li>

                                </ul>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Phone</dt>
                            <dd>+890 678 343789</dd>
                        </dl>

                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Company heading</h4>
                        <dl class="dl-horizontal">
                            <dt>address</dt>
                            <dd>
                                <ul class="list-group-item-text">
                                    <li>Office adres line 1,</li>
                                    <li> Office adres line 1,</li>
                                    <li>Office address line 1,</li>

                                </ul>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Phone</dt>
                            <dd>+890 678 343789</dd>
                        </dl>

                    </a>
                </div>


            </div>

        </div>
    </div>
</div>
