
<div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="commentLabel">
 <div role="document" class="modal-dialog modal-dialog-sm modal-dialog-primary">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn navbar-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="md-i">close</i></span></button>
       <h4>Comment for variant</h4>
      </div>
      <form class="form-horisontal">
       <div class="modal-body">
        
        <textarea class="form-control" placeholder="Comment message"></textarea>
       </div>
       <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
        
       
      </div>
    </form>
    </div>
  </div>
  </div> 
