<div class="modal fade" id="exporthistory" tabindex="-1" role="dialog" aria-labelledby="exportLabel">
  <div class="modal-dialog modal-lg modal-dialog-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              
          
          <h4 class="modal-title" id="historyLabel">Saved files</h4>
        </div>
        <div class="modal-body table-content">
           
             <table class="table table-condensed table-stipped">
                <thead>
                  <tr>
                    <th>
                      Datetime
                    </th>
                    <th>
                      File Name
                    </th>
                   
                    <th>Samples</th>
                    <th>Filters</th>
                    <th>View</th>
                    <th>Searched variants</th>
                     <th>
                    </th>

                  </tr>
                  
                </thead>
                <tbody>
                  <tr>
                    <td>12.11.2015 02:34:21</td>
                    <td>
                      Saved file name.xls
                    </td>
                    <td>iha1</td>
                    <td>Eye Cancer Diagnostics</td>
                    <td>Default view</td>
                    <td>789</td>
                    <td><a href="#" class="btn btn-sm btn-default" role="button">Download</a></td>
                  </tr>
                   <tr>
                     <td>12.11.2015 02:34:21</td>
                    <td>
                      Saved file name.json
                    </td>
                    <td>iha1</td>
                    <td>Eye Cancer Diagnostics</td>
                    <td>Default view</td>
                    <td>789</td>
                    <td><a href="#" class="btn btn-sm btn-default" role="button">Download</a></td>
                  </tr>
                   <tr>
                     <td>12.11.2015 02:34:21</td>
                    <td>
                      Saved file name.pdf
                    </td>
                    <td>iha1</td>
                    <td>Eye Cancer Diagnostics</td>
                    <td>Default view</td>
                    <td>789</td>
                    <td><a href="#" class="btn btn-sm btn-default" role="button">Download</a></td>
                  </tr>
                   <tr>
                     <td>12.11.2015 02:34:21</td>
                    <td>
                      Saved file name.xls
                    </td>
                    <td>iha1</td>
                    <td>Eye Cancer Diagnostics</td>
                    <td>Default view</td>
                    <td>789</td>
                    <td><a href="#" class="btn btn-sm btn-default" role="button">Download</a></td>
                  </tr>
                </tbody>
              </table>           
          
        </div>
               
         </div>
   
      </div>
    </div>