<div class="modal fade" id="exporthistory" tabindex="-1" role="dialog" aria-labelledby="exportLabel">
  <div class="modal-dialog modal-lg modal-dialog-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              
          
          <h4 class="modal-title" id="historyLabel" data-localize="files.heading">Saved files</h4>
        </div>
        <div class="modal-body table-content">
           
             <table class="table table-condensed">
                <thead>
                  <tr>
                  <th data-localize="general.datetime">
                  Datetime
                </th>
                 <th data-localize="general.samples">
                  Samples
                </th>
                 <th data-localize="general.filters">
                  Filters
                </th>
                <th data-localize="general.view">
                  View
                </th>
                 <th data-localize="general.variants">
                  Searched variants	
                </th>
              <th>
              </th>

                  </tr>
                  
                </thead>
                <tbody>
                  <!-- Empty results -->
                  <tr class="hidden">
  <td colspan="7"><div class="empty empty-files"><h3><span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
  </span><span data-localize="files.empty.title">You have not saved even a single file</span><span data-localize="files.empty.description">Select several mutations in the table with the results of the analysis, and click Export in the top menu</span></h3>
  </div></td></tr>
                      <!-- Results -->
                  <tr>
                    <td>12.11.2015 02:34:21</td>
                    <td>
                      Saved file name.xls
                    </td>
                    <td>iha1</td>
                    <td>Eye Cancer Diagnostics, Default view</td>
                    <td>789</td>
                    <td><div class="btn-groupd download"><a href="#" class="btn btn-sm btn-default" role="button"><span data-localize="general.download.title">Download</span></a></div></td>
                  </tr>
                   <tr>
                     <td>12.11.2015 02:34:21</td>
                    <td>
                      Saved file name.json
                    </td>
                    <td>iha1</td>
                    <td>Eye Cancer Diagnostics, Default view</td>
                    <td>789</td>
                    <td><div class="btn-groupd download"><a href="#" class="btn btn-sm btn-default" role="button"><span data-localize="general.download.title">Download</span></a></div></td>
                  </tr>
                   <tr>
                     <td>12.11.2015 02:34:21</td>
                    <td>
                      Saved file name.pdf
                    </td>
                    <td>iha1</td>
                    <td>Eye Cancer Diagnostics, Default view</td>
                    <td>789</td>
                    <td><div class="btn-groupd download"><a href="#" class="btn btn-sm btn-default" role="button"><span data-localize="general.download.title">Download</span></a></div></td>
                  </tr>
                   <tr>
                     <td>12.11.2015 02:34:21</td>
                    <td>
                      Saved file name.xls
                    </td>
                    <td>iha1</td>
                    <td>Eye Cancer Diagnostics, Default view</td>
                    <td>789</td>
                    <td><div class="btn-groupd download"><a href="#" class="btn btn-sm btn-default" role="button"><span data-localize="general.download.title">Download</span></a></div></td>
                  </tr>
                </tbody>
              </table>           
          
        </div>
               
         </div>
   
      </div>
    </div>