
<div class="modal fade" id="exporthistory" tabindex="-1" role="dialog" aria-labelledby="exportLabel">
  <div class="modal-dialog modal-lg modal-dialog-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <ul class="nav nav-tabs pull-right" role="tablist">
               <a type="button" class="btn btn-default active" data-toggle="tab" href=".table-list"><i class="fa fa-list"></i></a>
               <a type="button" class="btn btn-default" data-toggle="tab" href=".thumbnails"><i class="fa fa-th"></i></a>
             </ul>
          
          <h5 class="modal-title" id="historyLabel">Saved files</h5>
        </div>
        <div class="modal-body tab-content">
           
            <div class="tab-pane table-list active">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>
                      Datetime
                    </th>
                    <th>
                      File Name
                    </th>
                   
                    <th>Samples</th>
                    <th>Filters</th>
                    <th>View</th>
                    <th>Searched variants</th>
                     <th>
                    </th>

                  </tr>
                  
                </thead>
                <tbody>
                  <tr>
                    <td>12.11.2015 02:34:21</td>
                    <td>
                      Saved file name.xls
                    </td>
                    <td>iha1</td>
                    <td>Eye Cancer Diagnostics</td>
                    <td>Default view</td>
                    <td>789</td>
                    <td><a href="#" class="btn btn-primary" role="button">Download</a></td>
                  </tr>
                   <tr>
                     <td>12.11.2015 02:34:21</td>
                    <td>
                      Saved file name.json
                    </td>
                    <td>iha1</td>
                    <td>Eye Cancer Diagnostics</td>
                    <td>Default view</td>
                    <td>789</td>
                    <td><a href="#" class="btn btn-primary" role="button">Download</a></td>
                  </tr>
                   <tr>
                     <td>12.11.2015 02:34:21</td>
                    <td>
                      Saved file name.pdf
                    </td>
                    <td>iha1</td>
                    <td>Eye Cancer Diagnostics</td>
                    <td>Default view</td>
                    <td>789</td>
                    <td><a href="#" class="btn btn-primary" role="button">Download</a></td>
                  </tr>
                   <tr>
                     <td>12.11.2015 02:34:21</td>
                    <td>
                      Saved file name.xls
                    </td>
                    <td>iha1</td>
                    <td>Eye Cancer Diagnostics</td>
                    <td>Default view</td>
                    <td>789</td>
                    <td><a href="#" class="btn btn-primary" role="button">Download</a></td>
                  </tr>
                </tbody>
              </table>
              
            </div>
            <div class="tab-pane row thumbnails">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="head-icon">
          <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-file-excel-o fa-stack-1x fa-inverse"></i>
  </span>
        </div>
             <div class="caption">
          <h4>Saved file name.xls</h4>
          <p><strong>Samples:</strong> iha1</p>
          <p><strong>Filters: </strong> Eye Cancer Diagnostics</p>
          <p><strong>View: </strong> Default view</p>
          <p><strong>Searched variants: </strong> 789</p>
          <p><a href="#" class="btn btn-primary" role="button">Download</a></p>
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="head-icon">
          <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-file-code-o fa-stack-1x fa-inverse"></i>
  </span>
        </div>
             <div class="caption">
          <h4>Saved file name.json</h4>
          
          <p><strong>Samples:</strong> iha1</p>
          <p><strong>Filters: </strong> Eye Cancer Diagnostics</p>
          <p><strong>View: </strong> Default view</p>
          <p><strong>Searched variants: </strong> 789</p>
          <p><a href="#" class="btn btn-primary" role="button">Download</a></p>
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="head-icon">
          <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-file-pdf-o fa-stack-1x fa-inverse"></i>
  </span>
        </div>
             <div class="caption">
          <h4>Saved file name.pdf</h4>
          <p><strong>Samples:</strong> iha1</p>
          <p><strong>Filters: </strong> Eye Cancer Diagnostics</p>
          <p><strong>View: </strong> Default view</p>
          <p><strong>Searched variants: </strong> 789</p>
          <p><a href="#" class="btn btn-primary" role="button">Download</a></p>
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="head-icon">
          <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-file-excel-o fa-stack-1x fa-inverse"></i>
  </span>
        </div>
             <div class="caption">
          <h4>Saved file name.xls</h4>
          <p><strong>Samples:</strong> iha1</p>
          <p><strong>Filters: </strong> Eye Cancer Diagnostics</p>
          <p><strong>View: </strong> Default view</p>
          <p><strong>Searched variants: </strong> 789</p>
          <p><a href="#" class="btn btn-primary" role="button">Download</a></p>
        </div>
      </div>
    </div>
  </div>
           
          
        </div>
               
         </div>
   
      </div>
    </div>
