<div class="modal fade" id="filename" tabindex="-1" role="dialog" aria-labelledby="filenameLabel">
  <div class="modal-dialog modal-dialog-primary" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-with-nav ui-draggable-handle">
			<div class="navbar navbar-inverse table-row">
				<div class="max-width">
					<h4 data-localize="files.export.settings.heading" id="filenameLabel" class="modal-title">Export selected variants in file</h4>
				</div>
				<div>
					<button type="button" class="btn navbar-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="md-i">close</i></span></button>
				</div>
			</div>
		</div>
      <div class="modal-body">
      
  <form class="form-horizontal">
     <div class="form-group">
      <label class="col-xs-12 col-sm-2 control-label" data-localize="files.export.settings.format.label">Format</label>
      <div class="col-sm-4 col-xs-12">
      <select class="select2 form-control" name="filename[filetype]">
        <option selected="">
          EXCEL
        </option>
          <option>
          CSV
        </option>
          <option>
          SQL
        </option>
        <option>
          JSON
        </option>
        <option>
          XML
        </option>

      </select>
      </div>
    </div>
     <div class="form-group">
      <label class="col-xs-12 col-sm-2" data-localize="files.export.settings.filename.label">File name</label>
      <div class="col-xs-12">
      <input type="text" name="filename[name]" class="form-control text-primary" value="[Sample name]'s Selected Mutations 21.12.2015 23:45:56" placeholder="Set file name (required)">
      <div class="help-text text-danger hidden" data-localize="files.export.settings.filename.error">Name can not be empty</div>
      </div>
    </div>    
     <div class="form-group">
      <label class="col-xs-12" data-localize="general.description.label">Description</label>
       <div class="col-xs-12">
     <textarea class="form-control" data-localize="general.description" placeholder="Note (optional)"></textarea>
       </div>
    </div>
    <div class="alert alert-warning hidden">
          <p><strong data-localize="general.warning">Warning!</strong><span data-localize="files.export.settings.warning.limit"> Only the first 100 search results will be exported</span></p>    
        </div>
  </form>

        
     
     </div>
     <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="actions.cancel">Cancel</span></button>        
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="modal_export_button"><span class="files.export.title">Export</span></button>
        
       
      </div>
    </div>
  </div>
</div>
