<div class="modal fade" id="filter"  role="dialog" aria-labelledby="filterLabel">
  <div class="modal-dialog modal-dialog-primary modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
     <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title" data-localize="filters.setup.title">Setup Filters</h4>
      </div>
      <div class="modal-body">
         <div class="collapse in copyfilter" id="newfilterField">
           <div class="row grid-toolbar">
            <div class="col-sm-6">
              <label data-localize="filters.selector.title">Available Filters</label>
            </div>
          </div>
           <div class="alert alert-help"><span data-localize="filters.selector.description">Standard filters can not be edited but can be copied to a new one.  Disabled standard filters can not be copied but can be used for analysis</span></div>

           <div class="row grid-toolbar">
             <div class="col-sm-6">
              <select class="select2" id="filterSelector">
                <option selected value="eye">Eye Cancer Diagnostics</option>            
                <option value="cust1">Breast cancer</option>
                <option value="cust2">Lung cancer</option>
                <option value="cust3" disabled="">Autism</option>
                <option value="cust4">Retinoblastoma</option>
                <option value="cust5" disabled="">Mental retardation</option>
            </select>
          </div>
             <div class="col-sm-6">
                 <div class="btn-group" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Сopy this to a new">
                   <button class="btn btn-default" type="button" data-toggle="collapse" data-target=".copyfilter"><span data-localize="actions.duplicate.title">Duplicate</span></button>
                 </div>
                    <!--   Видимы когда в селекторе выбраны пользовательские фильтры, которые можно редактировать -->
                  <div class="btn-group">
                    <button class="btn btn-default hidden"><span data-localize="filters.reset.title">Reset Filter</span></button> 
                  </div>
                <div class="btn-group hidden" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Delete filter">
                   <button class="btn btn-link"><span  data-localize="actions.delete">Delete</span></button>
                </div>
                   <!-- / -->          
                   
              </div>
           </div>
         </div>
         <div class="collapse copyfilter" id="copyfilterField"> 
           
            
           <div class="row grid-toolbar">
             <div class="col-sm-6"> 
               <label  data-localize="filters.new.name.title">New Filter</label>  
               <input value="Copy of Eye Cancer Diagnostics" placeholder="Set filter name a copy" class="form-control text-primary" type="text">
            </div>
            <div class="col-sm-5">
               <label data-localize="general.description">Description</label>
            <input value="" placeholder="Type filter description (optional)" class="form-control" type="text">
            </div>
            <div class="col-sm-1">
               <button data-target=".copyfilter" data-toggle="collapse" type="button" class="btn btn-default collapsed btn-label-indent"><span data-localize="actions.cancel">Cancel</span></button>
            </div>
             
          </div>
            <div class="help-text text-danger"><span data-localize="filters.new.name.error">Name can not be empty</span></div>
         
         </div>
         <div class="row">
            <div class="col-lg-12">
           
    <div id="builder-basic" class="query-builder form-inline">
	<dl id="builder-basic_group_0" class="rules-group-container">
		<dt class="rules-group-header">
		 
		<div class="btn-group pull-right group-actions">
			<button type="button" class="btn btn-xs btn-success" data-add="rule"><i class="fa fa-plus-circle"></i> Add rule </button><button type="button" class="btn btn-xs btn-success" data-add="group"><i class="fa fa-plus-circle"></i> Add group </button>
		</div>
		<div class="btn-group group-conditions">
			<label class="btn btn-xs btn-primary active"><input type="radio" name="builder-basic_group_0_cond" value="AND"> AND </label><label class="btn btn-xs btn-primary"><input type="radio" name="builder-basic_group_0_cond" value="OR"> OR </label>
		</div>
		<div class="error-container" data-toggle="tooltip">
			<i class="fa fa-warning"></i>
		</div>
		</dt>
		<dd class="rules-group-body">
		<ul class="rules-list">
			<li id="builder-basic_rule_0" class="rule-container">
			<div class="rule-header">
				<div class="btn-group pull-right rule-actions">
					<button type="button" class="btn btn-xs btn-danger" data-delete="rule"><i class="fa fa-remove"></i> Delete </button>
				</div>
			</div>
			<div class="error-container">
				<i class="fa fa-warning"></i>
			</div>
			<div class="rule-filter-container">
				<select class="selectTree">
  			<optgroup label="General">	
          <option>View</option>
          <option>Chromosome</option>
          <option>Start</option>
          <option>End</option>
          <option>Type</option>
          <option>Quality</option>
          <option>Read Depth</option>
          <option  selected="">Zygosity</option>
          <option>Enter Gene Name</option>
          <option>Gene Panel</option>
  			</optgroup>
  			<optgroup label="Variant Consequence">
  			<option>Location</option>
        <option>Effect on protein coding</option>
        <option>Amino acid change</option>
        <option>Full amino acid change</option>
  			</optgroup>
  			<optgroup label="Variant Frequency">
  			  <option>Maximum Frequency Across Populations</option>
          <option>1000G Worldwide Pop Frequency</option>
          <option>1000G African Pop Frequency</option>
          <option>1000G Asian Pop Frequency</option>
          <option>ESP African Pop Frequency</option>
          <option>ESP European Pop Frequency</option>
          <option>ESP All Pop Frequency</option>
          <option>Complete Genomics 46 Genomes</option>
          <option>NCI 60 Cancer Exomes</option>
          <option>Reported in dbSNP</option>
  			</optgroup>
  			<optgroup label="Variant Functional Score">
  			  <option>SIFT</option>
          <option>SIFT Prediction</option>
          <option>PolyPhen 2</option>
          <option>PolyPhen 2 Prediction</option>
          <option>LRT</option>
          <option>LRT Prediction</option>
          <option>MutationTaster</option>
          <option>MutationTaster Prediction</option>
          <option>MutationAssessor</option>
          <option>MutationAssessor Prediction</option>
          <option>FATHMM</option>
          <option>FATHMM Prediction</option>
          <option>Tute Variant Score</option>
          <option>Tute Prediction</option>
          <option>GERP++</option>
          <option>PhyloP</option>
          <option>SiPhy</option>
  			</optgroup>
  			<optgroup label="Known Disease Association">
          <option>ClinVar significance</option>
          <option>ClinVar disease</option>
          <option>ClinVar_ID</option>
          <option>GWAS disease</option>
          <option>GWAS odds ratio</option>
          <option>GWAS beta value</option>
          <option>GWAS pubmed</option>
          <option>GWAS_SNP</option>
          <option>Tute PGX</option>
          <option>COSMIC_ID</option>
          <option>COSMIC disease</option>
          <option>Reported in Tute Dx</option>
          <option>Tute Dx ACMG</option>
  			</optgroup>
  			<optgroup label="User-Created Analysis Information">
        <option>Beta Phenotype Adjusted Score</option>
  			</optgroup>

</select>
			</div>
			<div class="rule-operator-container">
				<select class="form-control select2" name="builder-basic_rule_0_operator">
					<option value="equal">equal</option>
					<option value="not_equal">not equal</option>
					<option value="in">in</option>
					<option value="not_in">not in</option>
					<option value="less">less</option>
					<option value="less_or_equal">less or equal</option>
					<option value="greater">greater</option>
					<option value="greater_or_equal">greater or equal</option>
					<option value="between">between</option>
					<option value="not_between">not between</option>
					<option value="is_null">is null</option>
					<option value="is_not_null">is not null</option>
				</select>
			</div>
			<div class="rule-value-container">
				<select class="select2 form-control">
  				<option>
  				 Value1
  				</option>
  				<option>
  				 Value2
  				</option>
  				<option>
  				 Value3
  				</option>
  				<option>
  				 Value4
  				</option>
  				<option>
  				 Value5
  				</option>
				</select>
			</div>
			</li>
			<li id="builder-basic_rule_0" class="rule-container">
			<div class="rule-header">
				<div class="btn-group pull-right rule-actions">
					<button type="button" class="btn btn-xs btn-danger" data-delete="rule"><i class="fa fa-remove"></i> Delete </button>
				</div>
			</div>
			<div class="error-container">
				<i class="fa fa-warning"></i>
			</div>
			<div class="rule-filter-container">
				<select class="selectTree" >
  			<optgroup label="General">	
          <option>View</option>
          <option selected="">Chromosome</option>
          <option>Start</option>
          <option>End</option>
          <option>Type</option>
          <option>Quality</option>
          <option>Read Depth</option>
          <option>Zygosity</option>
          <option>Enter Gene Name</option>
          <option>Gene Panel</option>
  			</optgroup>
  			<optgroup label="Variant Consequence">
  			<option>Location</option>
        <option>Effect on protein coding</option>
        <option>Amino acid change</option>
        <option>Full amino acid change</option>
  			</optgroup>
  			<optgroup label="Variant Frequency">
  			  <option>Maximum Frequency Across Populations</option>
          <option>1000G Worldwide Pop Frequency</option>
          <option>1000G African Pop Frequency</option>
          <option>1000G Asian Pop Frequency</option>
          <option>ESP African Pop Frequency</option>
          <option>ESP European Pop Frequency</option>
          <option>ESP All Pop Frequency</option>
          <option>Complete Genomics 46 Genomes</option>
          <option>NCI 60 Cancer Exomes</option>
          <option>Reported in dbSNP</option>
  			</optgroup>
  			<optgroup label="Variant Functional Score">
  			  <option>SIFT</option>
          <option>SIFT Prediction</option>
          <option>PolyPhen 2</option>
          <option>PolyPhen 2 Prediction</option>
          <option>LRT</option>
          <option>LRT Prediction</option>
          <option>MutationTaster</option>
          <option>MutationTaster Prediction</option>
          <option>MutationAssessor</option>
          <option>MutationAssessor Prediction</option>
          <option>FATHMM</option>
          <option>FATHMM Prediction</option>
          <option>Tute Variant Score</option>
          <option>Tute Prediction</option>
          <option>GERP++</option>
          <option>PhyloP</option>
          <option>SiPhy</option>
  			</optgroup>
  			<optgroup label="Known Disease Association">
          <option>ClinVar significance</option>
          <option>ClinVar disease</option>
          <option>ClinVar_ID</option>
          <option>GWAS disease</option>
          <option>GWAS odds ratio</option>
          <option>GWAS beta value</option>
          <option>GWAS pubmed</option>
          <option>GWAS_SNP</option>
          <option>Tute PGX</option>
          <option>COSMIC_ID</option>
          <option>COSMIC disease</option>
          <option>Reported in Tute Dx</option>
          <option>Tute Dx ACMG</option>
  			</optgroup>
  			<optgroup label="User-Created Analysis Information">
        <option>Beta Phenotype Adjusted Score</option>
  			</optgroup>

        </select>
			</div>
			<div class="rule-operator-container">
				<select class="form-control select2" name="builder-basic_rule_0_operator">
					<option value="equal">equal</option>
					<option value="not_equal">not equal</option>
					<option value="in">in</option>
					<option value="not_in">not in</option>
					<option value="less">less</option>
					<option value="less_or_equal">less or equal</option>
					<option value="greater">greater</option>
					<option value="greater_or_equal">greater or equal</option>
					<option value="between" selected>between</option>
					<option value="not_between">not between</option>
					<option value="is_null">is null</option>
					<option value="is_not_null">is not null</option>
				</select>
			</div>
			<div class="rule-value-container">
				<input class="form-control" type="number" name="builder-basic_rule_0_value_0" step="0.01" min="0">, <input class="form-control" type="number" name="builder-basic_rule_0_value_0" step="0.01" min="0">
			</div>
			</li>
			<li id="builder-basic_rule_0" class="rule-container">
			<div class="rule-header">
				<div class="btn-group pull-right rule-actions">
					<button type="button" class="btn btn-xs btn-danger" data-delete="rule"><i class="fa fa-remove"></i> Delete </button>
				</div>
			</div>
			<div class="error-container">
				<i class="fa fa-warning"></i>
			</div>
			<div class="rule-filter-container">
				<select class="selectTree" >
  				
  			<optgroup label="General">	
          <option>View</option>
          <option>Chromosome</option>
          <option>Start</option>
          <option>End</option>
          <option>Type</option>
          <option>Quality</option>
          <option>Read Depth</option>
          <option>Zygosity</option>
          <option>Enter Gene Name</option>
          <option>Gene Panel</option>
  			</optgroup>
  			<optgroup label="Variant Consequence">
  			<option selected="">Location</option>
        <option>Effect on protein coding</option>
        <option>Amino acid change</option>
        <option>Full amino acid change</option>
  			</optgroup>
  			<optgroup label="Variant Frequency">
  			  <option>Maximum Frequency Across Populations</option>
          <option>1000G Worldwide Pop Frequency</option>
          <option>1000G African Pop Frequency</option>
          <option>1000G Asian Pop Frequency</option>
          <option>ESP African Pop Frequency</option>
          <option>ESP European Pop Frequency</option>
          <option>ESP All Pop Frequency</option>
          <option>Complete Genomics 46 Genomes</option>
          <option>NCI 60 Cancer Exomes</option>
          <option>Reported in dbSNP</option>
  			</optgroup>
  			<optgroup label="Variant Functional Score">
  			  <option>SIFT</option>
          <option>SIFT Prediction</option>
          <option>PolyPhen 2</option>
          <option>PolyPhen 2 Prediction</option>
          <option>LRT</option>
          <option>LRT Prediction</option>
          <option>MutationTaster</option>
          <option>MutationTaster Prediction</option>
          <option>MutationAssessor</option>
          <option>MutationAssessor Prediction</option>
          <option>FATHMM</option>
          <option>FATHMM Prediction</option>
          <option>Tute Variant Score</option>
          <option>Tute Prediction</option>
          <option>GERP++</option>
          <option>PhyloP</option>
          <option>SiPhy</option>
  			</optgroup>
  			<optgroup label="Known Disease Association">
  	
          <option>ClinVar significance</option>
          <option>ClinVar disease</option>
          <option>ClinVar_ID</option>
          <option>GWAS disease</option>
          <option>GWAS odds ratio</option>
          <option>GWAS beta value</option>
          <option>GWAS pubmed</option>
          <option>GWAS_SNP</option>
          <option>Tute PGX</option>
          <option>COSMIC_ID</option>
          <option>COSMIC disease</option>
          <option>Reported in Tute Dx</option>
          <option>Tute Dx ACMG</option>
  			</optgroup>
  			<optgroup label="User-Created Analysis Information">
  	
        <option>Beta Phenotype Adjusted Score</option>
  			</optgroup>

</select>
			</div>
			<div class="rule-operator-container">
				<select class="form-control select2" name="builder-basic_rule_0_operator">
					<option value="equal">equal</option>
					<option value="not_equal" selected>not equal</option>
					<option value="in">in</option>
					<option value="not_in">not in</option>
					<option value="less">less</option>
					<option value="less_or_equal">less or equal</option>
					<option value="greater">greater</option>
					<option value="greater_or_equal">greater or equal</option>
					<option value="between">between</option>
					<option value="not_between">not between</option>
					<option value="is_null">is null</option>
					<option value="is_not_null">is not null</option>
				</select>
			</div>
			<div class="rule-value-container">
				<input class="form-control" type="number" name="builder-basic_rule_0_value_0" step="0.01" min="0">
			</div>
			</li>
				<li id="builder-basic_rule_0" class="rule-container">
			<div class="rule-header">
				<div class="btn-group pull-right rule-actions">
					<button type="button" class="btn btn-xs btn-danger" data-delete="rule"><i class="fa fa-remove"></i> Delete </button>
				</div>
			</div>
			<div class="error-container">
				<i class="fa fa-warning"></i>
			</div>
			<div class="rule-filter-container">
				<select class="selectTree" >
  			<optgroup label="General">	
          <option>View</option>
          <option>Chromosome</option>
          <option>Start</option>
          <option>End</option>
          <option>Type</option>
          <option>Quality</option>
          <option>Read Depth</option>
          <option>Zygosity</option>
          <option>Enter Gene Name</option>
          <option>Gene Panel</option>
  			</optgroup>
  			<optgroup label="Variant Consequence">
  			<option>Location</option>
        <option>Effect on protein coding</option>
        <option>Amino acid change</option>
        <option>Full amino acid change</option>
  			</optgroup>
  			<optgroup label="Variant Frequency">
  			  <option>Maximum Frequency Across Populations</option>
          <option>1000G Worldwide Pop Frequency</option>
          <option>1000G African Pop Frequency</option>
          <option>1000G Asian Pop Frequency</option>
          <option>ESP African Pop Frequency</option>
          <option>ESP European Pop Frequency</option>
          <option>ESP All Pop Frequency</option>
          <option>Complete Genomics 46 Genomes</option>
          <option>NCI 60 Cancer Exomes</option>
          <option>Reported in dbSNP</option>
  			</optgroup>
  			<optgroup label="Variant Functional Score">
  			  <option selected="">SIFT</option>
          <option>SIFT Prediction</option>
          <option>PolyPhen 2</option>
          <option>PolyPhen 2 Prediction</option>
          <option>LRT</option>
          <option>LRT Prediction</option>
          <option>MutationTaster</option>
          <option>MutationTaster Prediction</option>
          <option>MutationAssessor</option>
          <option>MutationAssessor Prediction</option>
          <option>FATHMM</option>
          <option>FATHMM Prediction</option>
          <option>Tute Variant Score</option>
          <option>Tute Prediction</option>
          <option>GERP++</option>
          <option>PhyloP</option>
          <option>SiPhy</option>
  			</optgroup>
  			<optgroup label="Known Disease Association">
          <option>ClinVar significance</option>
          <option>ClinVar disease</option>
          <option>ClinVar_ID</option>
          <option>GWAS disease</option>
          <option>GWAS odds ratio</option>
          <option>GWAS beta value</option>
          <option>GWAS pubmed</option>
          <option>GWAS_SNP</option>
          <option>Tute PGX</option>
          <option>COSMIC_ID</option>
          <option>COSMIC disease</option>
          <option>Reported in Tute Dx</option>
          <option>Tute Dx ACMG</option>
  			</optgroup>
  			<optgroup label="User-Created Analysis Information">
        <option>Beta Phenotype Adjusted Score</option>
  			</optgroup>
</select>

			</div>
			<div class="rule-operator-container">
				<select class="form-control select2" name="builder-basic_rule_0_operator">
					<option value="equal">equal</option>
					<option value="not_equal">not equal</option>
					<option value="in">in</option>
					<option value="not_in">not in</option>
					<option value="less">less</option>
					<option value="less_or_equal">less or equal</option>
					<option value="greater">greater</option>
					<option value="greater_or_equal">greater or equal</option>
					<option value="between" selected="">between</option>
					<option value="not_between">not between</option>
					<option value="is_null">is null</option>
					<option value="is_not_null">is not null</option>
				</select>
			</div>
			<div class="rule-value-container">
				<select class="select2">
  				<option>1</option>
  				<option>2</option>
  				<option>3</option>
  				<option>4</option>
				</select>, 
				
				<select class="select2">
  				<option>1</option>
  				<option>2</option>
  				<option>3</option>
  				<option>4</option>
				</select>
			</div>
			</li>
		</ul>
		</dd>
	</dl>
</div>
    
  </div>
          </div> 
        <div class="alert alert-help"><span data-localize="filters.setup.rules.description">Lock filter options not available with selected sample</span></div>
        <div class="alert alert-danger">
          <button type="button" class="close hidden" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <div class="btn-group pull-right ">
            <a class="btn btn-danger" href=""><span data-localize="actions.delete">Delete</span></a></div>
          <div class="btn-group pull-right">
            <a class="btn btn-default" href=""><span data-localize="actions.delete">Cancel</span></a>
          </div>
          <span data-localize="filters.setup.rules.confirm">Are you sure you want to delete this filter?  It can not recover.</span>
       </div>
     </div>
      <div class="modal-footer">
        <div class="btn-group pull-left">
          <button type="button" class="btn btn-default hidden" data-dismiss="modal"><span data-localize="filter.reset.title">Reset Filter</span></button>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span data-localize="actions.cancel">Cancel</span></button>
        
        <button type="button" class="btn btn-primary" data-dismiss="modal"><span data-localize="actions.save_choose.title">Save and Choose</span></button>
        
       
      </div>
    </div>
  </div>
</div>
