<div class="modal fade" id="history" tabindex="-1" role="dialog" aria-labelledby="historyLabel">
<div class="modal-dialog modal-lg modal-dialog-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn navbar-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="md-i">close</i></span></button>
        <h4 class="modal-title" id="historyLabel" data-localize="history.heading">History of Analises Queries</h4>
      </div>
      <div class="modal-body table-content">

          <table class="table table-condensed">
            <thead>
              <tr>
                <th>
                  
                </th>
                <th data-localize="general.datetime">
                  Datetime
                </th>
                 <th data-localize="general.samples">
                  Samples
                </th>
                 <th data-localize="general.filters">
                  Filters
                </th>
                <th data-localize="general.view">
                  View
                </th>
                 <th data-localize="general.results">
                  Results	
                </th>
                <th>
                </th>
              </tr>
            </thead>
            <tbody>
              <!-- Empty results -->
                  <tr class="hidden">
  <td colspan="7"><div class="empty empty-history">
    <h3><span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
  </span> <span data-localize="history.empty.title">You have not saved even a single file</span> <span class="subtext"><a href=""><span data-localize="history.empty.description">Buy paid features AGx</span></a></span><span data-localize="history.empty.help">and select the sample filters, view and run the sample analysis</span></h3>
  </div></td>
                       
                      </tr>
              <tr>
                <td>
                  <button class="btn btn-link" data-toggle="collapse" data-target=".details1"><i class="fa fa-plus-circle"></i></button>
                </td>
                <td><a href="">12.11.2015 02:34:21</a></td>
                <td>ATCC HCC1187 TumorBL <span class="text-success">Analised <i class="fa fa-check"></i></span></td>
                <td>Eye Cancer Diagnostics, User Custom View 1</td>            
                <td>Default View</td>
                <td>98986</td>
                <td>
                <div class="btn-group load" data-localize="history.load.help" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Load the analysis query now">
                  <button class="btn btn-sm btn-default"><span data-localize="history.load.title">Load now</span></button>
                </div>

                </td>
              </tr>
              <tr class="collapse details1">
                <td colspan="7">
                 
                     <dl class="dl-horizontal"><dt><span data-localize="general.date">Date</span>:</dt><dd>12.11.2015 02:34:21</dd></dl>
                     <dl class="dl-horizontal"><dt><span data-localize="general.sample">Sample</span>:</dt><dd>ATCC HCC1187 TumorBL <span class="text-success"><span data-localize="samples.setings.analized.title">Analised</span> <i class="fa fa-check"></i></span></dd></dl>
                     <dl class="dl-horizontal"><dt><span data-localize="general.filters">Filters</span>:</dt><dd>Eye Cancer Diagnostics</dd></dl>
                     <dl class="dl-horizontal"><dt><span data-localize="general.view">View</span>:</dt><dd>Default View</dd></dl>
                     <dl class="dl-horizontal"><dt><span data-localize="general.results">Results</span>:</dt><dd>98986</dd></dl>

                  </dl>
                  
                </td>
                </tr>
            </tbody>
          </table>
                   
       </div>
 
    </div>
  </div>
</div> 