<div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="infoLabel">
  <div class="modal-dialog modal-lg modal-dialog-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="uploadLabel" data-localize="brand.about.heading">About AGx</h4>
      </div>
      <div class="modal-body">
      

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#about" aria-controls="about" role="tab" data-toggle="tab"><span data-localize="brand.about.heading">About AGx</span></a></li>
    <li role="presentation"><a href="#faq" aria-controls="faq" role="tab" data-toggle="tab"><span data-localize="brand.faq.heading">FAQ</span></a></li>
    <li role="presentation"><a href="#terms" aria-controls="terms" role="tab" data-toggle="tab"><span data-localize="brand.terms.heading">Terms</span></a></li>
    <li role="presentation"><a href="#privacy" aria-controls="privacy" role="tab" data-toggle="tab"><span data-localize="brand.privacy.heading">Privacy</span></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="about"> 
      <h3 data-localize="brand.about.heading">About AGx</h3>
      <div class="modal-lg-scroll" class="mCustomScrollbar" data-mcs-theme="dark">
          <div data-localize="brand.faq.description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>

          
        
        </div>
      
      </div>
    <div role="tabpanel" class="tab-pane" id="faq">
       <h3 data-localize="brand.faq.heading">FAQ</h3>
      <div class="modal-lg-scroll">
        <div  data-localize="brand.faq.description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
      </div>
      
      </div>
    <div role="tabpanel" class="tab-pane" id="terms">
      <h3 data-localize="brand.terms.heading">Terms</h3>
      <div class="modal-lg-scroll">
       <div data-localize="brand.terms.description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
      </div>
      </div>
    <div role="tabpanel" class="tab-pane" id="privacy">
      <h3 data-localize="brand.privacy.heading">Privacy</h3>
      <div class="modal-lg-scroll">
     <div data-localize="brand.privacy.description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
      </div>
      </div>
  </div>


        
      </div>
    </div>
  </div>
</div>